@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,100;1,400;1,500;1,600;1,800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Poppins", sans-serif;

}

@theme {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f5f7;
  /* Apple style soft gray */

  --color-text-main: #000000;
  --color-text-muted: #86868b;

  --color-background: #FFFFFF;
  --color-surface: #F8FAFC;

  --color-accent: #0066cc;
  /* Trustworthy Blue */
  --color-accent-hover: #004499;
  --color-accent-soft: #e5f1ff;

  --color-border-color: #d2d2d7;

  --color-success: #28a745;
  --color-danger: #ff3b30;
}

.dark {
  --color-bg-primary: #000000;
  --color-bg-secondary: #1c1c1e;

  --color-background: #111827;
  --color-surface: #1F2937;

  --color-text-main: #f5f5f7;
  --color-text-muted: #86868b;

  --color-accent: #0a84ff;
  --color-accent-hover: #409cff;
  --color-accent-soft: rgba(10, 132, 255, 0.15);

  --color-border-color: #38383a;
}